@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Poppins&display=swap");

/* Mobile View */
@media only screen and (max-width: 767px) {
  .tab-view-only {
    display: none !important;
  }
  .desktop-view-only {
    display: none !important;
  }

  .container {
    margin: 0px;
    padding: 20px;
  }
  .owl-carousel .owl-stage-outer {
    padding: 42px 0px 0px 25px;
    height: 380px;
  }

  .h1-responsive {
    font-size: 1.5rem;
    color: #000000;
    font-weight: 500;
  }
}

/* Tablet View */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .mobile-view-only {
    display: none !important;
  }
  .desktop-view-only {
    display: none !important;
  }
}

/* Desktop View */
@media only screen and (min-width: 1024px) {
  .mobile-view-only {
    display: none !important;
  }
  .tab-view-only {
    display: none !important;
  }

  .h1-responsive {
    color: #000000;
    font-family: Jost;
    font-size: 2rem;
    font-weight: bolder !important;
    line-height: 47px;
    letter-spacing: 3px;
    text-align: left;
  }
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff3f3 !important;
}

.jost {
  font-family: "Jost", sans-serif !important;
}

#button {
  padding: 10px 100px;
  margin: 20px;
  background-color: #ff8fab;
}

#div-map {
  background-color: #ff8fab !important;
}

#testimonial-heading {
  color: #000000 !important;
  font-weight: bold;
}

#contact-us {
  background-color: #ffc2d1;
}

#svg-pin {
  margin: 0 !important;
  padding: 0 !important;
}

#cards1 {
  background-image: url(/img/Rectangle\ 7.png);
  background-repeat: no-repeat;
}

#cards2 {
  background-image: url(/img/Rectangle\ 8.png);
  background-repeat: no-repeat;
}

#cards3 {
  background-image: url(/img/Rectangle\ 9.png);
  background-repeat: no-repeat;
}

.cards {
  border: none;
  box-shadow: -1px 3px 5px #a7a7a7;

  margin-left: 20px;
  margin-bottom: 0px !important;

  align-items: center;
  padding: 60px 80px 20px 80px;
}
.card-body {
  margin: 0px;

  background-color: #fff;
  opacity: 0.9;
}

/* testimonial*/

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tag {
  text-align: center;
  font-size: 1.1rem;
}

.fa-heart {
  color: rgba(255, 230, 0, 0.959);
  font-size: 30px;
}

.card {
  height: 320px;
  padding: 10px 20px;
  border: none;
  box-shadow: -1px 3px 5px #a7a7a7;
}

.testimonial {
  font-size: 0.9rem;
  line-height: 1.4rem;
  font-weight: 500;
}

.active-star {
  color: #fbc02d;
  margin-bottom: 8px;
}

.active-star:hover {
  color: #f9a825;
  cursor: pointer;
}

.profile {
  padding-top: 10px;
}

.name {
  font-weight: 700;
}

.designation {
  font-size: 0.84rem;
  font-weight: 600;
}

.owl-carousel {
  margin-bottom: 15px;
}

.owl-carousel .owl-stage-outer {
  padding: 40px 10px;
  height: 380px;
}

.owl-carousel .owl-item img {
  width: 45px !important;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.owl-theme .owl-nav [class*="owl-"] {
  border-radius: 50% !important;
  background: inherit !important;
  border: 3px solid #bbb;
  color: #bbb !important;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  border: 3px solid #1010ca;
  color: #1010ca !important;
}
