/* Mobile View */
@media only screen and (max-width: 767px) {
}

/* Tablet View */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Desktop View */
@media only screen and (min-width: 1024px) {
  .custom-input {
    /* display: flex;
    align-items: center;
    justify-content: center;
    width: 50%; */
    padding: 0 25%;
  }
}
