.heading {
  text-align: center;
}

.hr-line {
  display: block;
}

.course-content {
  display: grid;
  place-items: center;
  color: aliceblue;
}

@media (max-width: 768px) {
  .hr-line {
    display: none;
  }

  .service-img {
    height: 85px;
  }
}
