.heading {
  text-align: center;
}

.hr-line {
  display: block;
}

.course-content {
  display: grid;
  place-items: center;
  color: aliceblue;
}
.about-us {
  background-color: #fff3f3;
}

/* Mobile View */
@media only screen and (max-width: 767px) {
  .hr-line {
    display: none;
  }

  .service-img {
    height: 85px;
  }

  .course-content {
    position: absolute;
    top: 250px;
    left: 0px;
  }

  .course-content img {
    height: 50px;
  }

  .course-content h3 {
    font-size: large;
  }

  .course-content h6 {
    font-size: large;
  }
}

/* Tablet View */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #cards1 {
    margin: 0 !important;
    margin-right: 10px !important;
    padding: 0 !important;
    height: 300px !important;
    width: 220px !important;
  }
  #cards2 {
    margin: 0 !important;
    margin-inline: 10px !important;
    padding: 0 !important;
    height: 290px !important;
    width: 220px !important;
  }
  #cards3 {
    margin: 0 !important;
    margin-left: 10px !important;
    padding: 0 !important;
    height: 300px !important;
    width: 220px !important;
  }
  .course-div {
    margin-top: 50px;
  }
}

/* Desktop View */
@media only screen and (min-width: 1024px) {
  .hr-mobile {
    display: none;
  }
}
