.heading {
  text-align: center;
}

.hr-line {
  display: block;
}

.course-content {
  display: grid;
  place-items: center;
  color: aliceblue;
}

@media (max-width: 768px) {
  .hr-line {
    display: none;
  }

  .service-img {
    height: 85px;
  }

  .course-content {
    position: absolute;
    top: 250px;
    left: 0px;
  }

  .course-content img {
    height: 50px;
  }

  .course-content h3 {
    font-size: large;
  }

  .course-content h6 {
    font-size: large;
  }
}
