/* Mobile View */
@media only screen and (max-width: 767px) {
  .custom-container {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Tablet View */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Desktop View */
@media only screen and (min-width: 1024px) {
  .custom-container {
    padding: 0 150px;
  }

  .owl-carousel .owl-item img {
    height: 100px !important;
    width: 100px !important;
  }

  .custom-star {
    font-size: 24px;
  }
}
